server:
  port: 8082

spring:
  data:
    redis:
      host: localhost
      port: 6379
      password: MyStrongRedisPassword123
      timeout: 2000

  
  spring:
    autoconfigure:
      exclude: org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration

